:root {
    --orangeStrong: rgb(233,144,49);
    --orangeLight: rgba(242, 194, 105, 0.874);
    --mainTextColor: rgb(235, 182, 86);
    --purpleBlue: rgb(95, 95, 244);
    --linearBlue: linear-gradient(rgb(87, 145, 239),rgb(139,182,248) );
    --h1Color: rgb(180,223,240);
    --mainButtonTextCol: rgb(177, 141, 140);
    --transparentLightBule: ;
    --priceCol: rgb(255, 102, 0);
}



